@model ModelViews.Concrete.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

  <head>
    <link rel="stylesheet" href="~/profileTemplate/ProfileStyles.css" asp-append-version="true" />
  </head>

<div class="testing-grey">
</div>
  <main id="bundle-block">
    
    <div class="testing">
        <div class="block-title">
            <h1 class="title-text">
                Followers 
            </h1>
        </div>
        <div class="container testing-block">
            <div class="col-3 block-of-users" id="button-block">

                <div class="card">
                </div>
            </div>
        </div>
        
    </div>
    <header>
        <div class="header-wrap">
          <div class="profile-pic">
            <img src="@Model.UserProfilePicturePath" alt="profile-logo" />
          </div>
          <div class="profile-info">
            <div class="title row">
              <h2 id="profile-username">@Model.Username</h2>
              @if (Model.Following == true)
                {
                    <button class="unfollow-btn">Unfollow</button>

                }
                else
                {
                    <button class="follow-btn">Follow</button>


                }
            </div>
            <div class="desktop-only">
              <div class="details row">
                <ul>
                  <li><span>@Model.Posts.Count()</span> posts</li>
                  <li id="followers-block"><span id="followers-count">@Model.FollowersCount</span> followers</li>
                  <li id="following-block"><span id="following-count">@Model.FollowingCount</span> following</li>
                </ul>
              </div>
              <div class="descriptions row last">
                <h1>@Model.Username</h1>
                <span>
                  @Model.Description
                </span>
              </div>
            </div>
          </div>
        </div>
      </header>


      <div class="desktop-only">
        <div class="tabs">
          
        </div>
      </div>
     
      <div class="gallery">
          @foreach (var post in Model.Posts)
          {
              <div class="gallery-item">
                  <a href="/post/view/@post.PostId">
                    <img class="post-img" alt="gallery-post" src="@post.PostImagePath" />
                 </a>
            </div>

          }
      </div>
    </main>

@section Scripts
{
    <script>

        function CreateUnfollowButtonForList(){
            button = document.createElement('button');
            button.className = 'unfollow-btn';
            button.textContent = 'following';

            return button;
        }
        
        function CreateUnfollowButton() {
            button = document.createElement('button');
            button.className = 'unfollow-btn';
            button.textContent = 'Unfollow';

            return button;
        }

        function CreateFollowButton()
        {
            button = document.createElement('button');
            button.className = 'follow-btn';
            button.textContent = 'Follow';

            return button;
        }

        async function GetLoggedinUsername() {
            let response = await fetch('/api/users/GetLoggedinUsername')

            if (response.status == 200) return response.text();

        }

        async function GetFollowers(profileUsername, loggedInUsername) {
            var followers = await fetch(`/api/users/GetFollowers?profileusername=${profileUsername}&loggedInUsername=${loggedInUsername}`).then(response => response.json());
            return followers;
        }

        async function GetFollowings(profileUsername, loggedInUsername){
            var followers = await fetch(`/api/users/GetFollowings?profileUsername=${profileUsername}&loggedInUsername=${loggedInUsername}`).then(response => response.json());
            return followers;
        }

        async function OrganizeFollowers(users, loggedInUser){
            document.querySelector('.title-text').textContent = 'Followers';
            let card = document.querySelector('.card');

            users.forEach(user => {
                let newDivWithInfo;
                if(user.username != loggedInUser){

                    if(user.youFollowUser){
                        newDivWithInfo = `<div>
                                                <div class="top top-block">
                                                    <div class="userDetails" onclick="location.href='/account/profile?userid=${user.userId}'">
                                                        <div class="profilepic">
                                                            <div class="profile_img">
                                                                <div class="image">
                                                                    <img src=${user.profilePicturePath} alt="img12" width="50px" height="50px">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div>
                                                        <h3 class="name-block">
                                                            ${user.username}
                                                        </h3>
                                                    </div>
                                                    <div class="follow-div">
                                                        <button class="unfollow-btn" href="#">
                                                            following
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>`;
                    }
                    else{
                        newDivWithInfo = `<div>
                                                        <div class="top top-block">
                                                            <div class="userDetails" onclick="location.href='/account/profile?userid=${user.userId}'">
                                                                <div class="profilepic">
                                                                    <div class="profile_img">
                                                                        <div class="image">
                                                                            <img src=${user.profilePicturePath} alt="img12" width="50px" height="50px">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div>
                                                                <h3 class="name-block">
                                                                    ${user.username}
                                                                </h3>
                                                            </div>
                                                            <div class="follow-div">
                                                                <button class="follow-btn" href="#">
                                                                    follow
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>`;
                    }


                    card.innerHTML += newDivWithInfo;
                
                }
                else{
                    newDivWithInfo = `<div>
                                        <div class="top top-block">
                                            <div class="userDetails" onclick="location.href='/account/profile?userid=${user.userId}'">
                                                <div class="profilepic">
                                                    <div class="profile_img">
                                                        <div class="image">
                                                            <img src=${user.profilePicturePath} alt="img12" width="50px" height="50px">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div>
                                                <h3 class="name-block">
                                                    ${user.username}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>`;
                     card.innerHTML += newDivWithInfo;
                }
           


                });
            
            

        }

        async function OrganizeFollowings(users, loggedInUser) {
            document.querySelector('.title-text').textContent = 'Following';
            let card = document.querySelector('.card');

            users.forEach(user => {
                let newDivWithInfo;
                if (user.username != loggedInUser) {
                    if (user.youFollowUser) {
                        newDivWithInfo = `<div>
                                                <div class="top top-block">
                                                    <div class="userDetails" onclick="location.href='/account/profile?userid=${user.userId}'">
                                                        <div class="profilepic">
                                                            <div class="profile_img">
                                                                <div class="image">
                                                                    <img src=${user.profilePicturePath} alt="img12" width="50px" height="50px">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div>
                                                        <h3 class="name-block">
                                                            ${user.username}
                                                        </h3>
                                                    </div>
                                                    <div class="follow-div">
                                                        <button class="unfollow-btn" href="#">
                                                            following
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>`;
                    }
                    else {
                        newDivWithInfo = `<div>
                                                <div class="top top-block">
                                                    <div class="userDetails" onclick="location.href='/account/profile?userid=${user.userId}'">
                                                        <div class="profilepic">
                                                            <div class="profile_img">
                                                                <div class="image">
                                                                    <img src=${user.profilePicturePath} alt="img12" width="50px" height="50px">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div>
                                                        <h3 class="name-block">
                                                            ${user.username}
                                                        </h3>
                                                    </div>
                                                    <div class="follow-div">
                                                        <button class="follow-btn" href="#">
                                                            follow
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>`;
                    }
                }


                card.innerHTML += newDivWithInfo;

            });
        }
        
        async function FollowOtherUser(loggedInUsername, otherUsername){
            await fetch(`/api/users/followuser?followerusername=${loggedInUsername}&otherusername=${profileUsername}`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
            });

            let button = CreateUnfollowButton();

            let followBtn = document.querySelector('.follow-btn');

            e.target.remove();
            aboveButtonBlock.appendChild(button);
            followersCount.textContent = parseInt(followersCount.textContent) + 1;
        }
        
        async function Main()
        {
            let profileUsername = document.querySelector('#profile-username').textContent;
            let loggedInUsername = await GetLoggedinUsername();

            let followersBlock = document.querySelector('.testing');
            let greyBlock = document.querySelector('.testing-grey');
            let followersButton = document.querySelector('#followers-block');
            let followingsButton = document.querySelector('#following-block');

            let followersCount = document.querySelector('#followers-count');
            let followingCount = document.querySelector('#following-count');
            
            let aboveButtonBlock = document.querySelector('.title');

            let unfollowBtn = document.querySelector('.unfollow-btn');

            let data;
            
            let listBlock = document.querySelector('.testing-block');

            listBlock.addEventListener('click', async e => {
                if (e.target.className == 'follow-btn') {
                    console.log('eneted');
                    let username = e.target.parentElement.previousElementSibling.children[0].innerText;

                    await fetch(`/api/users/followuser?followerusername=${loggedInUsername}&otherusername=${username}`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                    });

                    let button = CreateUnfollowButtonForList();

                    let followBtnBlock = e.target.parentElement;

                    e.target.remove();
                    followBtnBlock.appendChild(button);
                }

                if (e.target.className == 'unfollow-btn') {
                    let username = e.target.parentElement.previousElementSibling.children[0].innerText;

                    data = await fetch(`/api/users/unfollowuser?followerusername=${loggedInUsername}&otherusername=${username}`, {
                        method: 'DELETE',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    });

                    let button = CreateFollowButton();

                    let followBtnBlock = e.target.parentElement;

                    e.target.remove();

                    followBtnBlock.appendChild(button);

                }
            });


            aboveButtonBlock.addEventListener('click', async e => {
                if (e.target.className == 'follow-btn'){
                    data = await fetch(`/api/users/followuser?followerusername=${loggedInUsername}&otherusername=${profileUsername}`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                    });

                    let button = CreateUnfollowButton();

                    let followBtn = document.querySelector('.follow-btn');

                    e.target.remove();
                    aboveButtonBlock.appendChild(button);
                    followersCount.textContent = parseInt(followersCount.textContent) + 1;
                }

                if (e.target.className == 'unfollow-btn'){

                    data = await fetch(`/api/users/unfollowuser?followerusername=${loggedInUsername}&otherusername=${profileUsername}`, {
                        method: 'DELETE',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    });

                    let button = CreateFollowButton();


                    aboveButtonBlock.appendChild(button);
                    e.target.remove();

                    followersCount.textContent = parseInt(followersCount.textContent) - 1;
            
                }
            });


            followersButton.addEventListener('click', async e => {
                let followers = await GetFollowers(profileUsername, loggedInUsername);
                console.log(followers);
                OrganizeFollowers(followers, loggedInUsername);
                followersBlock.style.visibility = "visible";
                greyBlock.style.visibility = "visible";

            });

            followingsButton.addEventListener('click', async e => {
                let followings = await GetFollowings(profileUsername, loggedInUsername);
                console.log(followings);
                OrganizeFollowings(followings, loggedInUsername);


                followersBlock.style.visibility = "visible";
                greyBlock.style.visibility = "visible";
            })


            greyBlock.addEventListener('click', e => {
                let card = document.querySelector('.card');
                card.innerHTML = "";
                followersBlock.style.visibility = "hidden";
                greyBlock.style.visibility = "hidden";
            });


        }

        Main();

    </script>
}