@model ModelViews.Concrete.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

  <head>
    <link rel="stylesheet" href="~/profileTemplate/ProfileStyles.css" asp-append-version="true" />
  </head>
  <main>
      <header>
        <div class="header-wrap">
          <div class="profile-pic">
            <img src="@Model.UserProfilePicturePath" alt="profile-logo" />
          </div>
          <div class="profile-info">
            <div class="title row">
              <h2 id="profile-username">@Model.Username</h2>
              @if (Model.Following == true)
                {
                    <button class="unfollow-btn">Unfollow</button>

                }
                else
                {
                    <button class="follow-btn">Follow</button>


                }
            </div>
            <div class="desktop-only">
              <div class="details row">
                <ul>
                  <li><span>@Model.Posts.Count()</span> posts</li>
                  <li><span id="followers-count">@Model.FollowersCount</span> followers</li>
                  <li><span id="following-count">@Model.FollowingCount</span> following</li>
                </ul>
              </div>
              <div class="descriptions row last">
                <h1>@Model.Username</h1>
                <span>
                  @Model.Description
                </span>
              </div>
            </div>
          </div>
        </div>
      </header>


      <div class="desktop-only">
        <div class="tabs">
          
        </div>
      </div>
     
      <div class="gallery">
          @foreach (var post in Model.Posts)
          {
              <div class="gallery-item">
                  <a href="/post/view/@post.PostId">
                        <img alt="gallery-post" src="@post.PostImagePath"/>
                 </a>
            </div>

          }
      </div>
    </main>

@section Scripts
{
    <script>

        function CreateUnfollowButton(type) {
            button = document.createElement('button');
            button.className = 'unfollow-btn';
            button.textContent = 'Unfollow';

            return button;
        }

        function CreateFollowButton(type)
        {
            button = document.createElement('button');
            button.className = 'follow-btn';
            button.textContent = 'Follow';

            return button;
        }

        async function Main()
        {

            let followersCount = document.querySelector('#followers-count');
            let followingCount = document.querySelector('#following-count');
            
            let aboveButtonBlock = document.querySelector('.title');

            let unfollowBtn = document.querySelector('.unfollow-btn');

            let followBtn = document.querySelector('.follow-btn');
            let profileUsername = document.querySelector('#profile-username').textContent;


            let loggedInUsername = await fetch('/api/users/getloggedinusername', {
                method: 'GET'
            })
            .then(response => {
                if (response.status == 200) {
                    return response.text();
                }
            })


            if (followBtn != null)
            {
                followBtn.addEventListener('click', async e => {
                    let data = await fetch(`/api/users/followuser?followerusername=${loggedInUsername}&otherusername=${profileUsername}`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                    })
                    button = CreateUnfollowButton();


                    aboveButtonBlock.appendChild(button);
                    followBtn.remove();
                    followersCount.textContent = parseInt(followersCount.textContent) + 1;


                    Main();
                });
            }

            if (unfollowBtn != null)
            {
                unfollowBtn.addEventListener('click', async e => {
                    data = await fetch(`/api/users/unfollowuser?followerusername=${loggedInUsername}&otherusername=${profileUsername}`, {
                        method: 'DELETE',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                    })

                    button = CreateFollowButton();

                        
                    aboveButtonBlock.appendChild(button);
                    unfollowBtn.remove();

                    followersCount.textContent = parseInt(followersCount.textContent) - 1;


                    Main();
                });

            }

        }
        Main();

    </script>
}